.navbar1,
.navbar-list1,
.navbar-branding1,
.navbar-list1 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 60px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar1,
.navbar-list1 a {
    color: #7E7736;
}

.navbar1 {
    padding: 0 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: white
}

.navbar-list1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-family: Quicksand;
    font-size: 17px;
    letter-spacing: 1.35px;
}

.navbar-list1 a {
    text-decoration: none;
    margin: 0 10px;
    padding: 0 10px;
}

.navbar-list1 a:hover {
    color: #B0A74C;
}

.navbar-branding1 img {
    margin-right: 10px;
}

#margin1 {
    margin-right: 20px;
}

#phone1 {
    border: 1px solid #B0A74C;
    padding: 7px;
}
